:root {
    --color: red;
    --background-color: #ddd;

    --body-copy: 1rem;
    --heading-copy: calc(var(--body-copy) *2);

    --gutter: 2rem;
}

body {
    color: var(--color);
    background-color: var(--background);
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

h1 {
    font-size: var (--heading-copy);
}

ul {
    padding-inline: var(--gutter);
    display: grid;
    gap: var(--gutter)
}

hgroup, footer {
    color: var(--background);
    background-color: var(--color);
    padding-inline: var(--gutter);
}